# Backend
backend/target/
backend/data/
backend/*.log
backend/src/main/resources/application.properties

# Frontend
client/node_modules/
client/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
